.MainPage{
    background-color: lavender;
}
.Nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.Playarea{
    display: flex;
    flex-direction: row;

}
.Guesszone{
    background-color: lavender;

}
.Guess{
    letter-spacing: 10px;
    font-size: 30px;
}
.Images{
    background-color: gray;
}
.Footer{
    background-color: purple;
}