.App-header {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
li{
  text-decoration: none;
  list-style: None;
}
a{
  text-decoration: none;
  color: inherit;
}
.Form{
  text-align: center;
}
button{
  color: green;
    font-size: 20px;
    margin: 5px;
    border: 2px solid brown;
    border-radius: 5px;
}